 <ul type="listados-curso">
        <li class="titulos-lista-curso" *ngFor="let curso of cursos">
            ID:
            <ul>
                <li class="lista-curso">{{curso.id}}</li>
            </ul>
<!--        </li>
        <li *ngFor="let curso of cursos">-->
            Titulo:
            <ul>
                <li class="lista-curso">{{curso.title}}</li>
            </ul>
<!--        </li>
        <li *ngFor="let curso of cursos">-->
            Descripcion:
            <ul>
                <li class="lista-curso">{{curso.description}}</li>
            </ul>
<!--        </li>
        <li *ngFor="let curso of cursos">-->
            Categoria:
            <ul>
                <li class="lista-curso">{{curso.category}}</li>
            </ul>
<!--        </li>
        <li *ngFor="let curso of cursos">-->
            Duracion:
            <ul>
                <li class="lista-curso">{{curso.duration}}</li>
            </ul>
<!--        </li>
        <li *ngFor="let curso of cursos">-->
            Actualizado:
            <ul>
                <li class="lista-curso">{{curso.updatedAt}}</li>
            </ul>
            <ul>
                <li class="titulos-lista-curso" *ngFor="let curso of cursos">
                    <div class="example-button-row"><button mat-raised-button color="warn"(click)="this.cambiarbool(true)">Alumnos:</button></div>
                    <div *ngIf="mostrar==true"><ul>
                        <li class="lista-curso">{{alumnos}}</li>
                    </ul></div>
                </li>
            </ul>
        </li>
    </ul>
